
/* Navigation bar css styles */
.topnavground {
    /* Additional Color/White */
    background: #FFFFFF;
    height:54px;
    position: sticky;
    top: 0;
    z-index: 10;

    display:flex; /*let items of next level display horizontally*/
    align-items: center;
    justify-content: center;
}
  
.topnavframe {
    flex:none;
    display:flex;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    height: 34px;
    position: relative;
}

.left{
    flex:none;
    justify-content: flex-start;
    position: absolute;
    width: 150px;
    height: 34px;
    left: 0px;
    cursor:pointer;
    

    /* Header 2 - Bold 30(34) */
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    /* identical to box height, or 113% */

    /* Primary Color/Cyan 70 */
    color: #448899;
}
.right{
    /* Auto layout */
    display: flex;
    flex: none;
    justify-content: flex-end;
    align-items: center;

    position: absolute;
    width: 175px;
    height: 34px;
    right: 0px;
}
.RightItem{
    flex:none;
    text-align: center;

    height: 14px;
    margin:10px;

    /* Body - Med 16(13.3) */
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    vertical-align: middle;
    line-height: 13px;
    /* identical to box height, or 83% */

    /* Secondary Color/Gray 70 */
    color: #666666;
    cursor: pointer;
}
.hamberg-container{
    flex:none;
    width:34px;
    height:34px;
    margin-left:10px;
}
.dropdown{
    display: none;
    flex: none;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    width: 175px;
    right: 0px;

}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top:34px;
}
.dropdown-content div{
    float: none;
    display:block;
    text-align: center;
    vertical-align: middle;

    height: 14px;
    margin: 20px 20px 20px 20px;

    /* Body - Med 16(13.3) */
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 13px;
    color: #666666;
    cursor: pointer;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content div:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* footer css styles */
.footer {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 104px;   /* Height of the footer */
    background: #757575;
    visibility: hidden;
 }
 .footer_box{
    flex:none;
    width: 234px;
    height: 24px;   /* Height of the footer */
    top:5px;
    left:0px;
    padding:0px;
    
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    text-align: left;
    vertical-align: middle;
    white-space:nowrap;
 }

 /* Separator css styles */
 .Separator{
    flex:none;
    width:100%;
    height:0;
    border: 1px solid #E8E8E8;
    margin:0px;
}

/* For Login/signup */
/* Full-width input fields */
.LoginForm-content .container input[type=text],
.LoginForm-content .container input[type=password] {
    width: 100%;
    height: 47px;
    padding: 15px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;

    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 13px;
    color: #757575;
}

/* Set a style for all buttons */
.container button {
    color: white;
    padding: 10px 20px;
    margin: 5px 0;
    border: none;
    cursor: pointer;
    width: 310px;
    height: 47px;
    background: #448899;
    border-radius: 5px;

    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 16px;
}

.container button:hover {
    opacity: 0.8;
}


/* Center the image and position the close button */
.colorbar {
    width: 100%;
    height: 10px;
    border-radius: 6px 6px 0 0;
    background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
}

.LoginForm-content .container {
    padding: 15px;
}

.LoginForm-content .container .form_title {
    width: 100%;
    height: 27px;
    text-align: center;
    margin-bottom: 15px;

    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;

    color: #666666;
}

.LoginForm-content .container .form_text {
    width: 100%;
    height: 22px;
    text-align: center;
    margin-top: 5px;

    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 13px;

    color: #666666;
}

/* The Modal (background) */
.LoginForm {
    display: none;
    /* Hidden by default */
    justify-content: center;
    position: fixed;
    /* Stay in place */
    z-index: 11;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.25);
    /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.LoginForm-content {
    flex: none;
    position: absolute;
    width: 340px;
    top: 80px;

    background: #FFFFFF;
    box-shadow: 0px 4px 60px #AAAAAA;
    border-radius: 6px;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 17px;
    top: 27px;
    cursor: pointer;
}

/* #id03,
#id04 {
    cursor: pointer;
} */




/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 400px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }

    .right{
        display:none;
    }
    .dropdown{
        display:flex;
    }
}