<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>請假系統</title>
    <link rel="stylesheet" type="text/css" href="static/css/common.css" />
    <script charset="utf-8" src="https://static.line-scdn.net/liff/edge/versions/2.22.3/sdk.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script>
        const liff_id = '{{ liff_id }}';
        $(document).ready(function () {
            liff.init({
                liffId: liff_id
            });
        });
    </script>
    <script src="static/js/liff.js"></script>
    <title>Index</title>
</head>

<body>
    <div class="header">請假預約</div>
    <div class="button-left">請假</div>
    <div class="button-right">換班</div>
    <div class="button-left">加班</div>
    <div class="button-right">約會</div>
    <div class="button-left">數據</div>
    <div class="button-right" onclick="liff_closeWindow()">關閉視窗</div>
</body>

</html>