<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>請假系統</title>
    <link rel="stylesheet" type="text/css" href="static/css/common.css" />
    <script charset="utf-8" src="https://static.line-scdn.net/liff/edge/versions/2.22.3/sdk.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="static/js/config.js"></script>
    <script>
        const liff_id = '{{ liff_id }}';
        let isLoggedIn = false;
        $(document).ready(function () {
            liff.init({
                liffId: liff_id
            }).then(() => {
                // Check if the user is logged in after initialization
                isLoggedIn = liff.isLoggedIn();
                if (isLoggedIn == false) {
                    liff.login({
                        // redirectUri: "https://starfruit8106.synology.me:3001/liff/index",
                        redirectUri: clientHost + '/liff/index'
                    })
                } else {
                    let payload = {};
                    payload['token'] = liff.getIDToken();
                    fetch("app/login", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify(payload),
                    }).then(
                        response => response.json()
                    ).then(data => {
                        console.log("Success:", data);
                    }).catch(error => {
                        console.error("Error:", error);
                    });
                }
            }).catch((err) => {
                console.error('LIFF initialization failed', err);
            });
        });
    </script>
    <script src="static/js/index.js"></script>
    <title>Index</title>
</head>

<body>
    <div class="header">請假預約</div>
    <div class="button-left" onclick="call_off()">請假</div>
    <div class="button-right">換班</div>
    <div class="button-left">加班</div>
    <div class="button-right">約會</div>
    <div class="button-left">數據</div>
    <div class="button-right" onclick="liff_closeWindow()">關閉視窗</div>
    <div class="button-left" onclick="liff_logout()">登出</div>
</body>

</html>