body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    font-weight: 400;
    font-size: 20px;
}

.button-left {
    display: inline-block;
    /* Change from block to inline-block */
    width: 30%;
    /* Adjusted width to fit two buttons in a row */
    margin: 10px 2% 10px 8%;
    /* top right bottom left */
    /* Adjusted margin for spacing between buttons */
    padding: 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-right {
    display: inline-block;
    /* Change from block to inline-block */
    width: 30%;
    /* Adjusted width to fit two buttons in a row */
    margin: 10px 8% 10px 2%;
    /* top right bottom left */
    /* Adjusted margin for spacing between buttons */
    padding: 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.header {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    font-size: 24px;
    font-weight: 600;
    color: #4CAF50;
    border: none;
}

@media (min-width: 600px) {

    .button-left,
    .button-right {
        width: 30%;
    }
}