html,body{
    height:100%;
    margin: 0;
}

.WelcomeBackground{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 320px;
    width: 100%;
}
.Welcome{
    /* Set image size*/
    display:flex;
    justify-content: center;
    align-items: center; /*vertical alignment*/
    height:100%;
    max-width: 1920px;
    width: 100%;
    background: url('/static/imgs/WelcomeImage.png') no-repeat left top;
    background-size: cover;
    background-position: center top;
    position: relative;
}
.slogan{
    flex: none;
    height: 169px;
    max-width: 1200px;
    padding: 10px;

    position: absolute;
    width: 100%;
    height: 169px;
}
.sloganText{
    width:98%;
    max-width: 1200px;
    margin-bottom: 15px;

    /* Body - Bold 16(13.3) */
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;

    /* Secondary Color/Gray 10 */
    color: #F8F8F8;

}
*{box-sizing: border-box;}
.wrap{
    width:98%;
    max-width: 1200px;
    height: 46px;
    margin-top: 10px;
    position:relative;
   }
.search{
    position: absolute;
    max-width: 460px;
    width: 100%;
    height: 46px;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border:0px;
}
.search-bar{
    width: 87%;
    height: 46px;
    flex:none;
    border:0px;
    /* top-left | top-right | bottom-right | bottom-left */
    border-radius: 5px 0 0 5px;
    padding:15px;

    /* Box Shadow */
    filter: drop-shadow(0px 0px 20px #AABBCC);
    /* White */
    background: #FFFFFF;

    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #757575;
}
.search-btn{
    flex:none;
    width: 60px;
    height: 46px;
    border:0px;
    /* top-left | top-right | bottom-right | bottom-left */
    border-radius: 0 5px 5px 0;

    background: #448899;
}

/* search filter LIST */
#category_list {
    flex:none;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    max-width: 400px;
    width: 80%;
    height:162px;
    margin-top:5px;
    padding: 0;
    border-radius: 5px;
    background:#FFFFFF;
    position:relative;
    z-index: 5;
    visibility: hidden;
}
#category_list div {
    flex:none;
    width:30%;
    height:40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#categort_list div div{
    width:90px;
    height:20px;
    text-align: left;
    vertical-align: middle;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #000000;
}

#category_list div:hover { background: #E8E8E8;}
#category_list div.hide { display: none; }

.MainBackground{
    display:flex;
    justify-content: center;
}
.mainframe{
    display: flex;
    justify-content: center;
    flex:none;
    flex-wrap: wrap;
    max-width:1200px;
    margin-top: 25px;
    width:100%;
}
.Content{
    flex:none;
    width: 97.5%;
    max-width: 1170px;
    display: flex;
    justify-content: center;
}
.block{
    flex:none;
    width: 22.5%;
    margin-bottom: 30px;
    position: relative;
    text-align: center;

    background: #FFFFFF;
    /* Secondary Color/Gray 20 */
    border: 1px solid #E8E8E8;
    border-radius: 5px;

    cursor: pointer;
}
.block_pic{
    width:100%;
    height:197px;
    object-fit: cover;
}
.pic{
    width:100%;
    height: 100%;
    border-radius: 5px 5px 0 0;
}
.block_text_overlap{
    width:100%;
    height:40px;
    background-color: rgba(0,0,0,0.6);
    position:absolute;
    bottom: 45px;
    display:flex;
    align-items: center;
    padding:10px;
}
.block_text_bottom{
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height:45px;
    padding:10px;
}
.block_text_bottom_text_L{
    vertical-align:middle;
    text-align: left;
    width:50%;
    height:100%;
    /* Body - Med 16(13.3) */
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;

    /* Secondary Color/Gray 50 */
    color: #757575;
}
.block_text_bottom_text_R{
    vertical-align:middle;
    text-align: right;
    width:50%;
    height:100%;
    /* Body - Med 16(13.3) */
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;

    /* Secondary Color/Gray 50 */
    color: #757575;
}
.text_span{
    vertical-align:middle;
    text-align: left;

    /* Body - Bold 16(13.3) */
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    /* line-height: 13px; */
    /* or 83% */

    /* Additional Color/White */
    color: #FFFFFF;
}
.blank{
    flex:none;
    width:2.5%;
    display:block;
}
.blank_desk{
    flex:none;
    width:2.5%;
    display:block;
}

.footer {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 104px;   /* Height of the footer */
    background: #757575;
    visibility: hidden;
 }
 .footer_box{
    flex:none;
    width: 234px;
    height: 24px;   /* Height of the footer */
    top:5px;
    left:0px;
    padding:0px;
    
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    text-align: left;
    vertical-align: middle;
    white-space:nowrap;
 }

 /* Different scree size setting */
@media(max-width:700px){
    .mainframe{
        width:90%;
    }
    .Content{
        flex-wrap: wrap;
    }
    .block{
        width: 49%;
    }
    .blank{
        width: 1%;
    }
    .blank_desk{
        display:none;
    }
}

@media(max-width:360px){
    .Welcome{
        background-size: cover;
        background-position: left bottom;
    }
    .search{
        width: 285px;
    }
    .search-bar{
        width: 225px;
    }
    .search-btn{
        left: 225px;
        top: 0px;
    }
    /* .mobile{
        display:block;
    } */
    .Content{
        flex-wrap: wrap;
    }
     .blank{
        display:none;
    }
    .blank_desk{
        display:none;
    }
    .block{
        width: 97.8%;
    }
    #category_list {
        width:322px;
        height:162px;
    }
}


/* For Login/signup */
/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    height:47px;
    padding: 15px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;

    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 13px;
    color: #757575;
}
  
  /* Set a style for all buttons */
.container button {
    color: white;
    padding: 10px 20px;
    margin: 5px 0;
    border: none;
    cursor: pointer;
    width: 310px;
    height:47px;
    background: #448899;
    border-radius: 5px;

    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 16px;
}

button:hover {
opacity: 0.8;
}


/* Center the image and position the close button */
.colorbar {
    width:100%;
    height: 10px;
    border-radius: 6px 6px 0 0;
    background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
}

.container {
    padding: 15px;
}

.form_title{
    width:100%;
    height: 27px;
    text-align: center;
    margin-bottom:15px;

    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;

    color: #666666;
}
.form_text {
    width:100%;
    height: 22px;
    text-align: center;
    margin-top: 5px;

    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 13px;

    color: #666666;
}

/* The Modal (background) */
.LoginForm {
    display: none; /* Hidden by default */
    justify-content: center;
    position: fixed; /* Stay in place */
    z-index: 11; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.25); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.LoginForm-content {
    flex:none;
    position: absolute;
    width: 340px;
    top: 80px;

    background: #FFFFFF;
    box-shadow: 0px 4px 60px #AAAAAA;
    border-radius: 6px;
}
/* The Close Button (x) */
.close {
    position: absolute;
    right: 17px;
    top: 27px;
    cursor: pointer;
}

#id03, #id04{
    cursor: pointer;
}




/* Add Zoom Animation */
.animate {
-webkit-animation: animatezoom 0.6s;
animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
from {-webkit-transform: scale(0)} 
to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
from {transform: scale(0)} 
to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
span.psw {
    display: block;
    float: none;
}
.cancelbtn {
    width: 100%;
}
}