<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="utf-8"/>
        <title>Attraction</title>
        <link rel="stylesheet" type="text/css" href="/static/css/attraction.css"/>
        <script src="/static/js/attraction.js"></script>
    </head>
    <body>
        <!-- Navigation bar -->
    <div class="topnavground">
        <div class="topnavframe">
            <div class="left">
                <a class="left" onclick="location.href='/'" >台北一日遊</a>
            </div>
            <div class="right">
                <div class="RightItem1">
                    預定行程
                </div>
                <div class="RightItem2" onclick="document.getElementById('id01').style.display='flex'">
                    登入/註冊
                </div>
                <div class="RightItem2" onclick="logout()" style="display:none">
                    登出系統
                </div>
            </div>
        </div>
    </div>

        <!-- Separator -->
        <div class="Separator"></div>
        <!-- Main content -->
        <div class="MainBackground">
            <div class="mainframe">

                <div class="section">

                    <!-- Slideshow container -->
                    <div class="slideshow-container">

                    </div>
                    
                    

                    <!-- Profile -->
                    <div class="profile">
                        
                    </div>



                </div>
                <div class="Separator"></div>
                <div class="info"></div>

            </div>
        </div>


        <!-- Login/singup form -->
    <div id="id01" class="LoginForm">

        <div class="LoginForm-content animate">
            <div class="colorbar"></div>

            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close LoginForm"><img
                    src="/static/imgs/icon_close.png/" style="width:16px;height:16px;"></span>

            <div class="container">
                <div class="form_title">登入會員資料</div>
                <input type="text" placeholder="登入電子信箱" name="email" required>
                <input type="password" placeholder="輸入密碼" name="psw" required>

                <button type="submit" onclick="login()">登入帳戶</button>
                <div class="form_text">還沒有帳戶？<span id="id03"
                        onclick="document.getElementById('id01').style.display='none';document.getElementById('id02').style.display='flex'">點此註冊</span>
                </div>
            </div>
        </div>
    </div>

    <div id="id02" class="LoginForm">

        <div class="LoginForm-content animate">
            <div class="colorbar"></div>

            <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close LoginForm"><img
                    src="/static/imgs/icon_close.png/" style="width:16px;height:16px;"></span>

            <div class="container">
                <div class="form_title">註冊會員帳號</div>
                <input type="text" placeholder="輸入姓名" name="uname" required>
                <input type="text" placeholder="登入電子信箱" name="email" required>
                <input type="password" placeholder="輸入密碼" name="psw" required>

                <button type="submit" onclick="register()">註冊新帳戶</button>
                <div class="form_text">已經有帳戶了？<span id="id04"
                        onclick="document.getElementById('id01').style.display='flex';document.getElementById('id02').style.display='none'">點此登入</span>
                </div>
            </div>
        </div>
    </div>

        <!-- Footer -->
        <div class="footer">
            <div class="footer_box">
                    COPYRIGHT © 2021 台北一日遊
            </div>
        </div>


        
    </body>
    
</html>