<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="utf-8"/>
        <title>Attraction</title>
        <link rel="stylesheet" type="text/css" href="/static/css/attraction.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/component.css"/>
        <script src="/static/js/attraction.js"></script>
        <script src="/static/js/component.js"></script>
    </head>
    <body>
        <!-- Navigation bar -->
        <nav-bar></nav-bar>

        <!-- Separator -->
        <div class="Separator"></div>
        <!-- Main content -->
        <div class="MainBackground">
            <div class="mainframe">

                <div class="section">

                    <!-- Slideshow container -->
                    <div class="slideshow-container">

                    </div>
                    
                    <!-- Profile -->
                    <div class="profile">                     
                    </div>

                </div>
                <div class="Separator"></div>
                <div class="info"></div>

            </div>
        </div>


        <!-- Login/singup form -->
        <login-form></login-form>
        <register-form></register-form>

        <!-- Footer -->
        <my-footer></my-footer>


        
    </body>
    
</html>