<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <title>TaipeiDayTrip</title>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/component.css"/>
    <script src="/static/js/index.js"></script>
    <script src="/static/js/component.js"></script>
</head>

<body>
    <nav-bar></nav-bar>

    <!-- Welcome slogan -->
    <div class="WelcomeBackground">
        <div class="Welcome">
            <div class="slogan">

                <div style="top:10px;left:10px;height:41px;font-size: 28px;text-shadow:0px 0px 30px #AABBCC;"
                    class="sloganText">輕鬆享受台北一日悠閒</div>
                <div style="height:22px;font-size:16px;" class="sloganText">探索每個角落，體驗城市的深度旅遊行程</div>

                <div class="wrap">
                    <div class="search">
                        <input class="search-bar" type="text" name="keyword" id="keyword" placeholder="輸入景點名稱查詢">
                        <button class="search-btn" onclick="searchKeyword();"><img
                                style="height:30px;width:30px;top:8px;left:15px;"
                                src="/static/imgs/search_icon.png"></button>
                    </div>
                </div>

                <div id="category_list"></div>

            </div>
        </div>
    </div>

    <!-- Content -->
    <div class="MainBackground">
        <div class="mainframe"></div>
    </div>

    <!-- Footer -->
    <my-footer></my-footer>


    <!-- Login/singup form -->
    <login-form></login-form>
    <register-form></register-form>

</body>

</html>